*.fasl
*.dx32fsl
*.dx64fsl
*.lx32fsl
*.lx64fsl
*.x86f
*~
.#*
/config.lisp
/db.db
/db.db-journal
/bookshops
/bin/


### Locales
# These are generated binary files
*.mo
# This is also generated, from other .pot files
/locale/templates/LC_MESSAGES/bookshops.pot
