<div class="field">
  <label class="label" for="{{ name }}">{{ label }}</label>

       <select name="{{ name }}" id="{{ select-id }}" class="select">
         {% if empty-choice %}
         <option value=""> {{ empty-choice-label }} </option>
         {% endif %}
         {% for option in options %}

         {% if record %}
         {% if selected-option-id == option.id %}
         <option value="{{ option.id }}" selected>
           {{ option.name }}
         </option>
         {% else %}
         <option value="{{ option.id }}">
           {{ option.name }}
         </option>
         {% endif %}

         {% else %}
         <option value="{{ option.id }}">
           {{ option.name }}
         </option>
         {% endif %}

         {% endfor %}
       </select>
</div>
