{% extends "base.html" %}

{% block content %}

<section class="hero is-light is-bold is-fullheight">
    <div class="hero-body">
      <div class="container">


        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <h1 class="title">Not found</h1>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
</section>

{% endblock %}
