{% extends "card-page.html" %}

{% block media_header %}
<button class="button" onclick="card_add_one({{ card.id }})">+1</button>
<button class="button" onclick="card_remove_one({{ card.id }})">-1</button>
{% endblock media_header %}

{% block subinfo %}
{% if raw == "t" %}
<pre>
    {{ card | describe }}
</pre>
{% endif %}
<!-- TODO super tag doesn't seem to work
     and now block.super doesn't seem to work either??
     maybe I am making a silly mistake?-->
{{ block.super }}
{% endblock subinfo %}

{% block script %}
{{ block.super }}
<script>
 async function card_add_one(id) {
     let data = new FormData();
     data.set("id", id);
     const resp = await fetch('/api/card/add', {
         method: 'POST',
         body: data
     })
         .then(data => console.log(data));

     // either update the field...
     /* let elt = document.getElementById("quantity"); */
     /* here update the quantity */
     /* elt.innerText = quantity; */
     /* either do a page reload */
     location.reload();  // nearly invisible
 }

 async function card_remove_one(id) {
     let data = new FormData();
     data.set("id", id);
     const resp = await fetch('/api/card/remove', {
         method: 'POST',
         body: data
     })
         .then(data => console.log(data));

     location.reload();  // nearly invisible
 }
</script>
{% endblock script %}
