{% extends "base.html" %}

{% block content %}

<div class="container is-fullheight" style="margin-bottom: 10em">
  <div class="section">
    <div class="columns is-centered">
      <div class="column is-2">
        <div class="card" id="{{ card.id }}">
          <div class="card-image">
            <figure class="image">
              <img src="{{ card.cover-url }}" alt="Couverture de {{ card.title }}"/>
            </figure>
          </div>
        </div>
      </div>

      <div class="card-content column">
        <div class="media">
          <span class="media-content">
            <p class="title is-4 no-padding">
              <a href="{{ card | url }}" style="color: black;">
                {{ card.title }}
              </a>
            </p>
            {% if card.authors %}
            <p><span><a href="/search?q={{ card.authors }}">{{ card.authors | capfirst }}</a></span></p>
            {% endif %}

            {% if card.publisher %}
            <p class="">{{ card.publisher | capfirst }}</p>
            {% endif %}

            {% if card.shelf %}
            <p>
              <a href="/search?rayon={{ card.shelf_id }}">
                <span class="tag" title="{{ card.shelf }}"> {{ card.shelf | truncatechars:27 }} </span>
              </a>
            </p>
            {% endif %}

            {% if card.isbn %}
	    <div class="has-text-grey-light"> {{ card.isbn }} </div>
            {% endif %}

            {% if card.price %}
	    <div class="title is-6"> {{ card.price | price }} €</div>
            {% endif %}

          </span>
        </div>

        <div>
          En stock: {{ card | quantity }}

        </div>

      </div>
    </div>
    <div>

  </div>
</div>

{% endblock %}
