{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<!-- Everything remains to be done:

   - view history of a month
   - view history of a day
   - choose a day or month
   - show total revenue
   - undo a sell (not just a soldcard)
   - show payments
   - export results in CSV
   - ...

-->

<div id="history-page">

  <h3 class="is-size-3">
    History
  </h3>

  <table class="table">
    <thead>
      <th> transaction </th>
      <th> date </th>
      <th> title </th>
      <th> publisher </th>
      <th> price sold </th>
      <th> quantity sold </th>
    </thead>

    <tbody>

  {% for soldcard in soldcards %}
  <tr data-sell-id="{{ soldcard.sell-id }}">
    <td>
      {{ soldcard.id }}
    </td>

    <td>
      {{ soldcard.created-at | date:(:year "/" (:month 2) "/" (:day 2) " " (:hour 2) ":" (:min 2)) }}
    </td>

    <td>
      <a href="{{ soldcard.card | url }}"> {{ soldcard.card.title }} </a>
    </td>

    <td>
      {{ soldcard.card.publisher }}
    </td>

    <td>
      {{ soldcard.sold-price | price }}€
    </td>

    <td>
      x{{ soldcard.quantity }}
    </td>

  </tr>
  {% endfor %}

    </tbody>
  </table>

</ div>

{%  endblock %}
