{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<!-- Everything remains to be done:

   - view history of a month
   - view history of a day
   - choose a day or month
   - show total revenue
   - undo a sell (not just a soldcard)
   - show payments
   - export results in CSV
   - ...

-->

<div id="history-page">

  <h3 class="is-size-3">
    History
  </h3>

  <table class="table">
    <thead>
      <th> transaction </th>
      <th> date </th>
      <th> title </th>
      <th> publisher </th>
      <th> price sold </th>
      <th> quantity sold </th>
      <th> payment method </th>
    </thead>

    <tbody>

  {% for sell/soldcard in data %}
  <tr data-sell-id="{{ sell/soldcard.sell-id }}"
      {% if sell/soldcard.item-group %}
      style="background-color: white"
      {% else %}
      style="background-color: lightgrey"
      {% endif %}
      >
    <td>
      {% if sell/soldcard.first-sell-item %}
      {{ sell/soldcard.sell-id }}
      {% endif %}
    </td>

    <td>
      {% if sell/soldcard.first-sell-item %}
      {{ sell/soldcard.created-at | date:(:year "/" (:month 2) "/" (:day 2) " " (:hour 2) ":" (:min 2)) }}
      {% endif %}
    </td>

    <td>
      <a href="{{ sell/soldcard.soldcard.card | url }}"> {{ sell/soldcard.soldcard.card.title }} </a>
    </td>

    <td>
      {{ sell/soldcard.soldcard.card.publisher }}
    </td>

    <td>
      {{ sell/soldcard.soldcard.sold-price | price }}€
    </td>

    <td>
      x{{ sell/soldcard.soldcard.quantity }}
    </td>

    <td>
      {{ sell/soldcard.sell.payment-method-name }}
    </td>

  </tr>
  {% endfor %}

    </tbody>
  </table>

</ div>

{%  endblock %}
