{% extends "base.html" %}

{% block content %}

{% if current-user %}
<section class="hero is-warning">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" >Unauthorized</h1>
            <h2>You do not have permission to view this page.</h2>
        </div>
    </div>
</section>
{% else %}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" >You are logged out</h1>
            <h2>You will need to login to access this page</h2>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}
