{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<form action="/search">
  <div class="field">
    <label class="label"> Search </label>
    <div class="control">
      <input class="input" name="q" type="text" {% if q %} value="{{ q }}" {% else %} placeholder="Search by title, author and ISBN" {% endif %}>
    </div>
  </div>

  {% if q and nb-results == 0 %}
  <div class="columns is-centered">
    <div class="is-half">
      <p class="is-primary">
        No results
      </p>
    </div>
  </div>
  {% endif %}

</form>

{% for msg in messages %}
<div>
  {{ msg }}
</div>
{% endfor %}

{% for card in cards %}
<!-- TODO decide if we want check-in-stock to also add the card id, otherwise we have to use the ISBN here.  -->
<div name="cardid" data-id="{{ card.id }}" id="card{{ card.isbn }}" class="box content">
  <article class="post">
    <div class="media">
      <div class="media-left">
        <p class="image is-64x64">
          <img src="{{ card.cover-url }}">
        </p>
      </div>
      <div class="media-content">
        <div class="content">
          <a onclick="alert('clicked')">
            <span class="title is-6"> {{ card.title }} </span>
          </a>
          <div> {{ card.authors }} </div>
          <span> éd. {{ card.publisher | capfirst }} </span>
          <p>
            {% if card.availability %}
            <span> availability: {{ card.availability }}  </span>
            {% endif %}
          </p>
        </div>
      </div>
      <div class="media-right">
          <div class="level">
              <span class="level-item" name="price" data-price="{{ card.price }}"> {{ card.price | price }} €</span>
              {% if card.in-stock %}
              <span class="tag level-item {{ card.in-stock | quantity-style }}"> x {{ card.in-stock}}</span>
              {% else %}
              <span class="tag level-item is-light"> x 0</span>
              {% endif %}
          </div>

        <!-- TODO how to handle duplication of forms? how to stop them getting out of sync
             with the end point parameters too? -->
        <div class="level">
            <form action="/card/add-or-create/" method="POST" class="level-item">
                <input name="q" type="hidden" value="{{ q }}">
                <input name="title" type="hidden" value="{{ card.title }}">
                <input name="isbn" type="hidden"  value="{{ card.isbn }}" />
                <input name="cover-url" type="hidden" value="{{ card.cover-url }}"/>
                <input name="publisher" type="hidden" value="{{ card.publisher }}" />
                <input type="submit" class="button" value="Add...">
            </form>
            <form action="/card/quick-add-stock/" method="POST" class="level-item">
                <input name="quantity" type="hidden" value="1" />
                <input name="q" type="hidden" value="{{ q }}">
                <input name="title" type="hidden" value="{{ card.title }}">
                <input name="isbn" type="hidden"  value="{{ card.isbn }}" />
                <input name="cover-url" type="hidden" value="{{ card.cover-url }}"/>
                <input name="publisher" type="hidden" value="{{ card.publisher }}" />
                <input type="submit" class="button" value="+1">
            </form>
        </div>
      </div>

    </div>
  </article>
</div>
{% endfor %}
{% endblock %}
