{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<form action="/search">
  <div class="field">
    <label class="label"> Search </label>
    <div class="control">
      <input class="input" name="q" type="text" {% if q %} value="{{ q }}" {% else %} placeholder="Search by title, author and ISBN" {% endif %}>
    </div>
  </div>

  {% if q and nb-results == 0 %}
  <div class="columns is-centered">
    <div class="is-half">
      <p class="is-primary">
        No results
      </p>
    </div>
  </div>
  {% endif %}

</form>

{% for msg in messages %}
<div>
  {{ msg }}
</div>
{% endfor %}

{% for card in cards %}
<div name="cardid" data-id="{{ card.id }}" id="card{{ card.id }}" class="box content">
  <article class="post">
    <div class="media">
      <div class="media-left">
	<p class="image is-64x64">
	  <img src="{{ card.cover-url }}">
	</p>
      </div>
      <div class="media-content">
	<div class="content">
          <a onclick="alert('clicked')">
            <span class="title is-6"> {{ card.title }} </span>
          </a>
          <div> {{ card.authors }} </div>
          <span> éd. {{ card.publisher | capfirst }} </span>
	  <p>
            {% if card.availability %}
	    <span> availability: {{ card.availability }}  </span>
            {% endif %}
	  </p>
	</div>
      </div>
      <div class="media-right">
	<span name="price" data-price="{{ card.price }}"> {{ card.price | price }} €</span>
        <span class="tag">
          x
          {% if card.in-stock %}
          {{ card.in-stock }}
          {% else %}
          0
          {% endif %}
        </span>

        <form action="/card/create/" method="POST">
          <!-- TODO: url not found… -->
          <input name="q" type="hidden" value="{{ q }}">
          <input name="title" type="hidden" value="{{ card.title }}">
          <input type="submit" class="button" value="Add…">
        </form>

      </div>

    </div>
  </article>
</div>
{% endfor %}
{% endblock %}
