{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div id="vue-sell">

  <div class="title is-4"> Sell </div>

    <div class="field has-addons">
        <div class="control is-expanded">
          <div class="columns">
            <div class="column">
              <b-field>
                <b-datepicker v-model="sellDate" icon="calendar-today"></b-datepicker>
              </b-field>
            </div>
            <div class="column">
              <b-field>
                <b-input disabled v-model="client" placeholder="Client" ></b-input>
              </b-field>
            </div>
          </div>

          <h3 class="title is-4"> {$ {{quantity}} $} titles selected. Total: {$ {{total}} $} €
          </h3>

          <b-field>
            <b-autocomplete placeholder="Search by any ISBN or by keywords in your stock..."
              id="default-input"
              v-model="search"
              field="title"
              :data="suggestions"
              :loading="isFetching"
              @typing="getAsyncData"
              @select="option => itemSelected(option)">
              <template slot-scope="props">{$ {{ props.option.title }} $}</template>
            </b-autocomplete>
          </b-field>

          <div class="buttons">
            <b-field label="Validate with">
              <button class="button is-success"
                  v-for="payment in paymentMethods"
                  @click="completeSale(payment.id)"
                  :value="payment.id">
                        {$ {{ payment.name }} $}
              </button>
            </b-field>
          </div>

          <div v-for="(book, index) in books" :key="index">
            <div class="box content" v-if="book.show">

              <div v-if="book.card" class="title is-6">
                <a v-bind:href="book.url" target="_blank">
                   {$ {{ book.card.title }} $}
                </a>
              </div>

              <div class="tile is-ancestor">
                <div class="tile">
                  <b-field label="Input" v-if="book.error"
                      type="is-danger"
                      :message="book.error">
                    <b-input disabled :value="book.input"></b-input>
                  </b-field>
                  <b-field label="Input" v-else-if="book.input && !book.card">
                    <b-input disabled loading :value="book.input"></b-input>
                  </b-field>
                </div>

                <div class="tile" >
                  <b-field v-if="book.card">
                    <p class="control">
                      <b-button label="X" />
                    </p>
                    <b-numberinput v-model="book.quantity" controls-alignment="right" controls-position="compact"></b-numberinput>
                  </b-field>
                </div>

                <div class="tile" style="padding-left: 3em">
                  <b-field v-if="book.card">
                    <b-input v-model.number="book.price_sold">  </b-input>
                  </b-field>
                  <p class="control">
                    <b-button label="€" />
                  </p>
                </div>

                <div class="tile" style="padding-left: 3em">
                  <b-button type="is-danger" @click="removeBook(index)" outlined>
                    <span class="icon">
                      <i class="fas fa-times"></i>
                    </span>
                  </b-button>
                </div>
              </div>

            </div>
            </div>

            <!-- <b-button @click="completeSale" >Submit</b-button> -->

            <div>{$ {{ message }} $}</div>
        </div>
    </div>



</div>

{% endblock %}
