{% extends "search.html" %}

{% block card_content %}
<div class="content">
    <a href="{{ card | url }}">
        <h4> {{ card.title }} </h4>
    </a>
    <p>
        <span> {{ card.authors }} </span>
        <span> {{ card.isbn }} </span>
        {% if card.shelf %}
        <span class="tag">
          <a color="black"
             title="Search your stock"
             href="/stock?shelf={{ card.shelf.name-ascii }}">
                      {{ card.shelf.name }}
          </a>

        </span>
        {% endif %}
        <span> {{ card.publisher | capfirst }} </span>
    </p>
</div>
{% endblock card_content %}
