
{% extends "base.html" %}

{% block content %}

<section class="hero is-primary welcome is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hello, Admin.
      </h1>
      <h2 class="subtitle">
        I hope you are having a great day!
      </h2>
    </div>
  </div>
</section>
<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">  </p>
        <p class="subtitle"> Number of records </p>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"> Many </p>
        <p class="subtitle"> cool things to do today </p>
      </article>
    </div>

  </div>
</section>
<div class="columns">
  <div class="column is-6">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Records…
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped">
            <tbody>
              {% for record in records %}
              <tr>
                <td width="5%"><i class="fa fa-bell-o"></i></td>
                <td>
                  <a href="/admin/{{ table }}/{{ record.id  }}">{{ record }}
                  </a>
                <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <a href="/stock/loans?outdated=t" class="card-footer-item">View All</a>
      </footer>
    </div>
  </div>

  <div class="column is-6">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Quick search
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>

      </header>
      <div class="card-content">
        <div class="content">

          <form action="/search">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-large" name="q" type="text" placeholder="Search…">

              <span class="icon is-medium is-left">
                <i class="fa fa-search"></i>
              </span>
              <span class="icon is-medium is-right">
                <i class="fa fa-check"></i>
              </span>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
