

{% extends "base.html" %}

<!-- This would set the Djula package for all templates.
     So far we use (let ((djula:*djula-execute-package*)) … render-template* ) -->
<!-- {% set-package "openbookstore.models" %} -->
<!-- {% set-package "mito-admin" %} -->

{% block title %}
mito-admin · {{ record.print-record }}
{% endblock %}

{% block content %}

<h3 class="title"> {{ table }} </h3>

<div class="columns">
  <div class="column is-four-fifths">
    <h4 class="title">
      <!-- This method call works with djula:*djula-execute-package* -->
      {{ record.print-record }}
      <!-- A filter always works. -->
      <!-- {{ record | print-record }} -->
      <!-- Raw object view. -->
      <!-- {{ record }} -->
    </h4>
  </div>

  <div class="column">
    <a class="button is-info is-light"
        href="/admin/{{ table | lower }}/create"
        title="create">
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
    </a>
  </div>

  <div class="column">
    <a class="button" href="/admin/{{ table | lower }}/{{ record.id }}/edit">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
  </div>

  <div class="column">
    <form action="/admin/{{table}}/{{ record.id }}/delete" method="POST"
        onsubmit="return confirm('Are you sure to delete this record?');">
      <button class="button is-danger" >
        <span class="icon">
          <i class="fas fa-trash"></i>
        </span>
      </button>
    </form>

  </div>
</div>


{% if debug and raw %}
<pre>
{{ raw }}
</pre>
{% endif %}

slots:

<table class="table is-hoverable">
  <tbody>

    {% for field in fields %}
    <tr>
      <td>
        {{ field.name }}
      </td>
      <td>
        {{ field.value }}
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

Rendered slots:

<table class="table is-hoverable">
  <tbody>
    {% for field in rendered-fields %}
    <tr>
      <td>
        {{ field.name }}
      </td>
      <td>
        {{ field.html | safe }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
