

{% extends "base.html" %}

{% block title %}
Openbookstore admin · {{ record }}
{% endblock %}

{% block content %}

<h3 class="title"> {{ table }} </h3>

<div class="columns">
  <div class="column is-four-fifths">
    <h4 class="title"> {{ record }} </h4>
  </div>
  <div class="column">

    <form action="/admin/{{table}}/{{ record.id }}/delete" method="POST"
        onsubmit="return confirm('Are you sure to delete this record?');">
      <button class="button is-danger" >
        <span class="icon">
          <i class="fas fa-trash"></i>
        </span>
      </button>
    </form>

  </div>
</div>


<!-- {% if raw %} -->
<!-- <pre> -->
<!--   {{ raw }} -->
<!-- </pre> -->
<!-- {% endif %} -->


<table class="table is-hoverable">
  <tbody>

    {% for field in fields %}
    <tr>
      <td>
        {{ field.name }}
      </td>
      <td>
        {{ field.value }}
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

With rendered slots:

<table class="table is-hoverable">
  <tbody>
    {% for field in rendered-fields %}
    <tr>
      <td>
        {{ field.name }}
      </td>
      <td>
        {{ field.html | safe }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
