
{% extends "base.html" %}

{% block title %}
Openbookstore admin · {{ table }}
{% endblock %}

{% block content %}


<div class="columns">
  <div class="column is-four-fifths">
    <h3 class="title"> {{ table }} </h3>
  </div>

  <div class="column"> </div>

  <div class="column">
    <a class="button is-info is-light"
        href="/admin/{{ table | lower }}/create"
        title="create">
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
    </a>
  </div>

</div>

{% for message in messages %}
<div class="notification {{ message.class }}">
  <button class="delete"> </button>
  {{ message.message }}
</div>
{% endfor %}

<div>
  <form action="/admin/{{ table | lower }}/search">
    <input name="q" type="text" class="input"
        {% if search-value %}
        value="{{ search-value }}"
        {% else %}
        placeholder="search"
        {% endif %}/>
  </form>
</div>

<table class="table is-hoverable">
  <tbody>

    {% if not records %}
    <div> no results </div>
    {% endif %}

    {% for record in records %}
    <tr>
      <td>
        <a href="/admin/{{ table | lower }}/{{ record.id }}">

          <!-- We might want a special method, similar to print-object but without the formatting. -->
          <!-- Because print-object might show more data than only the record name. -->

          {% if record.name %}
          {{ record.name }}

          {% elif record.title %}
          {{ record.title }}

          {% else %}
          {{ record }}
          {% endif %}
        </a>
      </td>

      <td>
        <a class="button" href="/admin/{{ table | lower }}/{{ record.id }}/edit">
          <span class="icon">
            <i class="fas fa-edit"></i>
          </span>
        </a>
      </td>

      <td>
        <form action="/admin/{{table}}/{{ record.id }}/delete" method="POST"
            onsubmit="return confirm('Are you sure to delete this record?');">
          <button class="button is-danger" >
            <span class="icon">
              <i class="fas fa-trash"></i>
            </span>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
