
{% extends "base.html" %}

{% block title %}
Openbookstore admin · {{ table }}
{% endblock %}

{% block content %}

<h3 class="title"> {{ table }} </h3>

{% for message in messages %}
<div class="notification {{ message.class }}">
  <button class="delete"> </button>
  {{ message.message }}
</div>
{% endfor %}

<table class="table is-hoverable">
  <tbody>

    {% for record in records %}
    <tr>
      <td>
        <a href="/admin/{{ table | lower }}/{{ record.id }}">

          <!-- We might want a special method, similar to print-object but without the formatting. -->
          <!-- Because print-object might show more data than only the record name. -->

          {% if record.name %}
          {{ record.name }}

          {% elif record.title %}
          {{ record.title }}

          {% else %}
          {{ record }}
          {% endif %}
        </a>
      </td>

      <td>
        <a class="button" href="/admin/{{ table | lower }}/{{ record.id }}/edit">
          <span class="icon">
            <i class="fas fa-edit"></i>
          </span>
        </a>
      </td>

      <td>
        <form action="/admin/{{table}}/{{ record.id }}/delete" method="POST"
            onsubmit="return confirm('Are you sure to delete this record?');">
          <button class="button is-danger" >
            <span class="icon">
              <i class="fas fa-trash"></i>
            </span>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
